[submodule "mortal-kombat"]
	path = mortal-kombat
	url = https://github.com/Reniary/mortal-kombat.git
[submodule "sos"]
	path = sos
	url = https://github.com/Reniary/sos.git
[submodule "web_design"]
	path = web_design
	url = https://github.com/Reniary/web_design.git
[submodule "willberries"]
	path = willberries
	url = https://github.com/Reniary/willberries
